.rf-container
  .rf-container
    .rf-grid-row.rf-grid-row--center.rf-grid-row--gutters.rf-mb-0
      .rf-col-12.rf-col-md-11.rf-col-lg-10
        %h1#h1-hero-background
          %div
        %h1#h1-hero1.text-center.rf-mb-0= "Jeune et diplomé,"
        %h1#h1-hero2= @page_title
        %h2#service-description.text-center.rf-mt-0= current_organization.service_description
