#section-hero{
  margin-top: 2em;
}

#h1-hero-background div {
  background-color: #00AE85;
  position: absolute;
  width: 48%;
  margin-left: 23%;
  margin-top: 3%;
  height: 5em;
  z-index: -10;
}

#h1-hero1{
  color: #2E327B;
  background-color: #FFE400;
  padding: 0.5rem;
  margin-right: 56%;
}

#h1-hero2{
  color: white;
  background-color: #5770BE;
  padding: 0.5rem 1.5em;
  margin-left: 15%;
  margin-top: 0rem;
  font-size: 2rem;
  margin-bottom: 0px;
}


#service-description{
  color: #2E327B;
  background-color: white;
  padding: 0.1rem;
  margin-right: 10%;
  margin-left: 25%;
  margin-right:5%;
  margin-top: 0rem;
  font-size: 1.2rem;
  line-height:2rem;
  border: 3px solid #2E327B;
}


#toto{
  background: #00ae85;
}
